HF_3_orb_RotInvariant.config 
HF_3_orb_RotInvariant.creator 
HF_3_orb_RotInvariant.creator.user 
HF_3_orb_RotInvariant.files 
HF_3_orb_RotInvariant.includes
input.inp
Akw_t2g.txt
Disorder_conf_used
Eigen_spectrum.txt
Initial_OrderParams_values_generated.txt
LLr.txt
Local_L2.txt
Local_S2.txt
Local_orb_spin_resolved_densities.txt
Lq.txt
Nw_t2g.txt
OrderParams_OUTPUT.txt
SSr.txt
SelfConsistent
Sq.txt
main.o
output.txt
